body {
    font-family: Arial, sans-serif;
}

.header {
    background: #000;
    width: 100%;
    padding: 13px 60px 42px;
    color: #fff;
}

.header__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 0 0 50px;
}

.header__description {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 20px;
}

.header__date {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}